extends layout
block content
  script(type="text/javascript" defer src="/socket.io/socket.io.js")
  script(type="text/javascript" defer src="/javascripts/index.js") 
  script.  
    //- setTimeout("location.reload(true);", 4000);
  

  h1= title
  p Welcome to #{title}
  .div-body 
    .div-table
      table.table-fill(id='table-data') 
        thead(id='thead')
          tr.rows 
            th.text-left("width=10px" ) NO 
            th.text-left( "width=100px" style="display:none") 테이블 
            th.text-left( "width=100px") 시스템명
            th.text-left("width=100px") 종류
            th.text-left("width=40px") 수량  
            th.text-left("width=100px") 일시  
            th.text-left 위치 
        tbody.table-hover(id='tbody')
      table.table-cell(id='table-cellData')
        thead(id='tCellHead')
        tbody(id='tCellBody')
  label(id='status_label' onClick='getSystemConfigurationData()') 서버에 데이타 요청
//- <!DOCTYPE html>
//- <html lang="ko">
//- <head>
//-     <meta charset="UTF-8">
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge">
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0">
//-     <script src="js/home/login.js" defer></script>
//-     <title>Document</title>
//- </head>
//- <body>
//-    <input id='userId' type="text" placeholder="아이디"> <br>
//-    <input id='passwd' type="text" placeholder="비밀번호"> <br>
//-    <button id='submit'>로그인</button>
//- </body>
//- </html>