<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta hame="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.js"> </script>
    <script src="/javascripts/common.js"> </script>
    <div class="menu">
      <nav class="dropdownmenu">
        <ul>
          <li><a href="/">Home 
              <ul id="submenu">
                <li><a href="/login">Login </a></li>
              </ul></a></li>
          <li><a href="/">축전지 모니터링</a></li>
          <li><a href="/">데이타 출력
              <ul id="submenu">
                <li><a href="/">Difference between SVG vs. Canvas</a></li>
                <li><a href="/">New features in HTML5</a></li>
                <li><a href="/">Creating links to section within a webPage </a></li>
              </ul></a></li>
          <li><a href="/systemConfigure">시스템설정</a></li>
          <li><a href="/">Contact us </a></li>
        </ul>
      </nav>
    </div>
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <script>
      setTimeout("location.reload(true);", 4000);
      
      
    </script>
    <h1></h1>
    <p>Welcome to </p>
    <div class="div-body"> 
      <div class="div-table">
        <table class="table-fill" id="table-data"> 
          <thead>
            <tr class="rows"> 
              <th class="text-left" width=10px>NO </th>
              <th class="text-left" width=100px>시스템명</th>
              <th class="text-left" width=100px>종류</th>
              <th class="text-left" width=40px>수량  </th>
              <th class="text-left" width=100px>일시  </th>
              <th class="text-left">위치 </th>
            </tr>
          </thead>
          <tbody class="table-hover" id="tbody"></tbody>
        </table>
      </div>
    </div>
    <label onClick="getSystemConfigurationData()">서버에 데이타 요청</label>
  </body>
  <bottom>
    <p>bottom line</p>
  </bottom>
</html>