extends ../layout

block content
  script(type="text/javascript" src="/javascripts/systemConfigure.js") 
   
  h1= title
  p Welcome to #{title}
  p 이제 여기에다 제이슨 파일을 받아와서 데이타를 채워 넣자

  label( onClick='getSystemConfigurationData()') 서버에 데이타 요청
 
  .table-title
    h3.Data 시스템 설정
  //- table.table-fill(id='table-data' onClick='getSystemConfigureTableRow()')
  table.table-fill(id='table-data') 
    thead
      tr.rows 
        th.text-left NO 
        th.text-left 시스템명
        th.text-left 종류
        th.text-left 수량  
        th.text-left 일시  
        th.text-left 위치 
    tbody.table-hover 
      tr.rows 
        td.text-left Hanuary
        td.text-left $50,000,000 
        td.text-left $50,000,000 
        td.text-left $50,000,000 
      tr.rows 
        td.text-left Hanuary
        td.text-left $50,000,000 
        td.text-left $50,000,000 
        td.text-left $50,000,000 
      tr.rows 
        td.text-left Hanuary
        td.text-left $50,000,000 
        td.text-left $50,000,000 
        td.text-left $50,000,000 
      tr.rows 
        td.text-left Hanuary
        td.text-left $50,000,000 
        td.text-left $50,000,000 
        td.text-left $50,000,000 
  p