 /* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

 body {
   width: 100%;
   padding: 50px;
   margin-left: 10px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   background-color: #9d9191;
 }


 a {
   color: #00B7FF;
 }

 label {
   margin-left: 30px;
   color: #151617;
 }

 label:hover {
   color: #6e1f22;
 }

 label:single-button {
   color: #f90439;
 }


 .menu {
   display: flex;
   margin-left: 30px;
   max-width: 100%;
   width: 100%;
   justify-items: auto;
   justify-content: baseline;
 }

 .dropdownmenu ul,
 .dropdownmenu li {
   margin: 0;
   padding: 0;
   min-width: 180px;
 }

 .dropdownmenu ul {
   background: gray;
   list-style: none;
   width: 100%;
 }

 .dropdownmenu a {
   background: #4CAF50;
   color: #FFFFFF;
   display: block;
   font: bold 14px/20px sans-serif;
   padding: 10px 25px;
   text-align: center;
   text-decoration: none;
   -webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
   -ms-transition: all .25s ease;
   -o-transition: all .25s ease;
   transition: all .25s ease;
 }

 .dropdownmenu li {
   float: left;
   position: relative;
   width: auto;
 }

 .dropdownmenu li:hover a {
   background: #43A047;
 }

 #submenu {
   left: 0;
   opacity: 0;
   position: absolute;
   top: 35px;
   visibility: hidden;
   z-index: 1;
 }

 li:hover ul#submenu {
   opacity: 1;
   top: 40px;
   /* adjust this as per top nav padding top & bottom comes */
   visibility: visible;
 }

 #submenu li {
   float: none;
   width: 100%;
 }

 #submenu a:hover {
   background: #DF4B05;
 }

 #submenu a {
   background-color: #43A047;
 }

 .login-page {
   width: 360px;
   padding: 10% 0 0;
   margin: 1% 15%;
 }

 .login-page .form {
   position: relative;
   z-index: 1;
   background: #FFFFFF;
   max-width: 360px;
   margin: 0 auto 100px;
   padding: 45px;
   text-align: center;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
 }

 .login-page .form .login-form input {
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
 }

 .login-page .form .login-form label {
   outline: 0;
   border: 0;
   display: inline-block;
   width: 90%;
   background: #4CAF50;
   margin: 0 0 15px;
   padding: 15px;
   font-size: 14px;
   cursor: pointer;
 }

 .login-page .form .login-form label:hover,
 .login-page .form .login-form label:focus {
   background: #43A047;
 }

 .login-page .form .login-form label:active {
   background: #42749a;
 }

 .login-page .message {
   margin: 15px 0 0;
   color: #b3b3b3;
   font-size: 12px;
 }

 .login-page .message a {
   color: #4CAF50;
   text-decoration: none;
 }

 h1 {
   margin-left: 30px;
 }

 p {
   margin-left: 30px;
 }


 /* 테이블에 대한 설정  */
 div.table-title {
   display: flex;
   margin: auto;
   max-width: 80%;
   padding: 5px;
   width: 80%;
   margin-left: 30px;
   justify-content: center;
 }

 .table-title h3 {
   color: #130f0f;
   font-size: 30px;
   font-weight: 400;
   font-style: normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform: uppercase;
 }

 .div-body {
   display: flex;
   padding: 5px;
   margin-left: 20px;
 }

 .div-table {
   display: flex;
   padding: 5px;
   max-width: 90%;
   width: 70%;
   /* background-color: #6e1f22; */
 }

 /*** Table Styles **/

 .table-fill {
   background: rgb(235, 228, 228);
   border-radius: 3px;
   border-collapse: collapse;
   height: 320px;
   max-width: 80%;
   padding: 5px;
   width: 100%;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
   animation: float 5s infinite;
   font-size: 16px;
 }

 th {
   color: #D5DDE5;
   ;
   background: #1b1e24;
   border-bottom: 4px solid #9ea7af;
   border-right: 1px solid #343a45;
   font-weight: 100;
   padding: 24px;
   text-align: left;
   text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   vertical-align: middle;
 }

 th:first-child {
   border-top-left-radius: 3px;
 }

 th:last-child {
   border-top-right-radius: 3px;
   border-right: none;
 }

 tr {
   border-top: 1px solid #C1C3D1;
   border-bottom: 1px solid #C1C3D1;
   color: #666B85;
   font-weight: normal;
   font-size: 16px;
   text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
 }

 tr:hover td {
   background: #4E5066;
   color: #FFFFFF;
   border-top: 1px solid #22262e;
 }

 tr:first-child {
   border-top: none;
 }

 tr:last-child {
   border-bottom: none;
 }

 tr:nth-child(odd) td {
   background: #EBEBEB;
 }

 tr:nth-child(odd):hover td {
   background: #4E5066;
 }

 tr:last-child td:first-child {
   border-bottom-left-radius: 3px;
 }

 tr:last-child td:last-child {
   border-bottom-right-radius: 3px;
 }

 td {
   background: #FFFFFF;
   padding: 20px;
   text-align: left;
   vertical-align: middle;
   font-weight: 300;
   font-size: 16px;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   border-right: 1px solid #C1C3D1;
 }

 td:last-child {
   border-right: 0px;
 }

 th.text-left {
   text-align: left;
 }

 th.text-center {
   text-align: center;
 }

 th.text-right {
   text-align: right;
 }

 td.text-left {
   text-align: left;
 }

 td.text-center {
   text-align: center;
 }

 td.text-right {
   text-align: right;
 }